body{
    margin: 0;
    padding: 0;   
}
header,
main,
footer{
    margin: 0;
    padding: auto;
    position: relative;
}
p{
    font-size: 16px;
    font-weight: bolder;
}

main{
    background-color: rgb(220, 220, 220);
    padding-bottom: 40px;
}
.main-section{
    margin: 0px auto;
    padding: 40px 0px 0px;  /* header와 거리 */
    justify-items: center;  /* section 가운데로 정렬 */
    display: flex;          /* */
    flex-direction: row;    /* 가로로 정렬 */
    width: 1000px;          
}
.login{ /* 회원가입 가운데로 정렬 */
    justify-content: center;
    margin: auto;
}
h1{
    font-size: 36px;
    margin: 30px auto;
    padding: 0px;
}
.login-page-a{
    background-color: white;
    margin: 20 auto 0px;
    padding: 40px;
    border: 1px solid dimgray;
    border-radius: 10px;
}


/* 이름 이메일 비밀번호 적는 곳 */
.name,.em,.psw{
    margin: 0px;
    padding: 0px;
}

.login-page{
    margin: 0px;
    padding: 0px;
}
.name-text{
    margin: 0;
    padding: 0;
}
.login-page input{  
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
    margin: 10px auto;
    padding: 0px;
}
.login-page input::placeholder{
    color: rgb(200, 200, 200);
    font-weight: bolder;
    padding: 12px;
}


/* 체크 박스 */
.login-button{
    margin: 0;
    padding: 0;
}
.button-A,
.button-B{
    display: flex;
    justify-content: space-between;
}
.button-A input{  
    width: 24px;
    border: 1px solid gray;
    padding: 0px;
}
.button-B input{  
    width: 24px;
    border: 1px solid gray;
    padding: 0px;
}
.button-B p{
    font-size: 12px;
}
.button-B a{

    font-size: 12px;
}