body{
    margin: 0;
    padding: 0;
}
header a{
    margin: 0;
    padding: 0;
    text-decoration-line:none;
    color: rgb(131, 131, 131);
}
header{
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}
li{
    list-style: none;
}
.header-Logo{ /*임시용*/
    object-fit: contain;
    width: 32px;
}
.header-Bar{
    margin: 0;
    padding: 0;
    margin-left: 60px;
    display: flex;
}
.header-Bar-Text-drop,  /*drop과 그냥 text 공통 부분*/
.header-Bar-Text{
    position: relative;
    top:35%; 
    margin-left: 0px;
    margin-right: 30px;
}

/* header-Drop css*/
.header-Drop{
    display: flex;
}
.material-symbols-outlined{ /* 메뉴 위치조정*/
    position: relative;
    top:30%; 
}

.header-Bar-Text-drop{
    display: inline-block;
}
.drop-down{ /* 드롭박스 생성 */
    display: none;
}
.header-Bar-Text-drop:hover .drop{
    width: 500px;
    height: 100px;
    background-color: black;
}
/*로그인 회원가입*/
.header-Bar-right{
    display: flex;
    justify-content: center;
    margin-left: 60px;
}
.login{
    position: relative;
    top:35%; 
    margin-left: 0px;
    margin-right: 30px;
}
.header-find{
    margin-right: 10px;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    border: 1px solid white; 
    top:20%
}
#icon2{
    position: absolute;
    left: 7px;
    top: 7px;
}
.login1,
.login2{
    position: relative;
    top:28%; 
    margin-left: 0px;
    margin-right: 10px;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 10px;
    font-size: 12px;
    background-color: white;
    height: 30px;
    padding: 5px 10px;
}
.login1{
    color: blue;
}








/* main */
main{
    position: relative;
    margin : 0px;
}
section{
    margin: 0px auto; 
    flex-direction: row;
    justify-content: center;
    padding: 40px 0px 0px;
    display: flex;
    flex-direction: column;
    width: 1000px;
}

main a{
    margin: 0;
    padding: 0;
    text-decoration-line:none;
    color: black;
}

.main-no1{
    margin: 0;
    padding: 0;
}
.no1{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.no1-bar{
    justify-content: center;
    padding: 0px;
    margin: 0px;
}
.no1-bar-sose{
    margin: 0px;
    padding: 0px;
    /* 클릭버튼 색상 변경 */
    width: 110px;
    height: 90px;
    border-radius: 5px;
    background-color: white;
    
}
.no1-bar-sose-icon{
    margin: 0;
    padding: 10;
    justify-content: center;
}
.material-icons.md-48 { /* 구글 아이콘 크기 키움*/
    font-size: 48px; 
    padding: 11px 31px;
} 
.no1-bar-sose-text-on{
    text-align: center;
    font-size: 12px;
}






/* main 2번째 */
/* .main-no2{
} */
.main-no2s{
    position: relative;
    display: flex;
    align-items: center;
    width: 1000px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;

}
.no2{
    position: absolute;
    display: flex;
    width: 1000px;
    margin: 0;
    padding: 0;
}
.no2-button{
    display: flex;
}
.no2-img{
    width: 1000px;
    height: 300px;
    border: 10px;
    border-radius: 10px;   
}

@font-face {
    font-family: 'SejonghospitalBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.no2-text1{
    font-family: 'SejonghospitalBold';
    font-size: 30px;
    position: absolute;
    margin-top: 50px;
    margin-left: 10px;
    color:white;
}
.no2-text2{
    font-family: 'SejonghospitalBold';
    font-size: 20px;
    position: absolute;
    margin-top: 100px;
    margin-left: 10px;
    color:white;
}







/* main-no3 */
.main-no3{
    margin-top: 40px;
}
.main-no3s{
    position: relative;
}
.main-text{
    font-size: 24px;
    font-family: 'SejonghospitalBold';
    color:black;
}
.no3-button{
    width: 100%;
    height: 200px;
    margin: 10px 0px;
    padding: 0px;
    overflow: hidden;
}
.no3-hidden{
    display: flex;
    justify-content: center;
}
.no3-img{
    width: 300px;
    height: 200px;
    margin: 0px auto;
    border-radius: 10px;
}

/* main-no4 */
