body{
    margin: 0;
    padding: 0;
}
header a{
    margin: 0;
    padding: 0;
    text-decoration-line:none;
    color: rgb(131, 131, 131);
}
li{
    list-style: none;
}







main,
footer{
    position: relative;
    margin : 0px;
    z-index: 1;
}
main{
    
    border-bottom: 1px solid rgb(200, 200, 200);
}


section{
    margin: 0px auto; 
    flex-direction: row;
    justify-content: center;
    padding: 60px 0px 0px;
    display: flex;
    flex-direction: column;
    width: 1000px;
}

span,
button{
    white-space: nowrap;
    /* 페이지 줄여도 글씨가 한쪽으로 안뭉치게 하는 작업 */
}

header{
    background-color: wheat;
    position: fixed;
    flex-direction: row;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgb(200, 200, 200);
    display: flex;
    font-size: 12px;
    font-weight: bold;
    z-index: 2;
}
.header-Logo{ 
    object-fit: contain;
    width: 32px;
}
.header-Bar{
    margin: 0;
    padding: 0;
    margin-left: 0px;
    display: flex; 
}
.header-Bar-Text-drop,  
.header-Bar-Text{
    position: relative;
    top:35%; 
    margin-left: 0px;
    margin-right: 30px;
}


/* .header-Bar{
    align-items: center;
} */

#header-main{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    align-items: center;
}
/* "header-Bar"> <!--메인 바-->
"header-Drop"> <!--서브 바--> */
.header-Bar > .header-Bar-click, .header-Drop{
    float:left;
}

.aup1{
    position: relative;
    top: 4px;

}
.aup{
    position: relative;
    top: -3px;
}

.header-Drop > .header-Bar-click > a{
    margin-left: 5px;
}


/* header-Drop css*/
.header-Drop{
    width: 100px;
}
.header-Bar-click{
    margin-right: 20px;
}

.material-symbols-outlined{  /*메뉴 위치조정*/
    position: relative;
    top:30%; 
}
.header-Bar-Text-drop{
    display: inline-block;
} 

.drop-down{/* 드롭박스 생성 */
    position: absolute;
    background-color: floralwhite;
    margin-top: 15px;
    padding: 0;
    left: 0px;
    
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 300px;
}
.drop-down > li{
    padding: 10px;
    justify-items: left;
    position: relative;
    left: 33%;
    overflow:auto;
}
.header-Bar-click > li > a{
    color: black;
} 
.header-Drop > li:hover .drop-down{
    opacity: 1;
    visibility: visible;
}


/* 로그인 회원가입*/
 .header-Bar-right{
    display: flex;
    justify-content: center;
    margin-left: 60px;
}
.login{
    position: relative;
    top:35%; 
    margin-left: 0px;
    margin-right: 30px;
}
.header-find{
    margin-right: 10px;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    border: 1px solid white; 
    top:20%
}
#icon2{
    position: absolute;
    left: 7px;
    top: 7px;
}
.login1,
.login2{
    position: relative;
    top:28%; 
    margin-left: 0px;
    margin-right: 10px;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 10px;
    font-size: 12px;
    background-color: white;
    height: 30px;
    padding: 5px 10px;
}
.login1{
    color: blue;
} 








/* main */
main a{
    margin: 0;
    padding: 0;
    text-decoration-line:none;
    color: black;
}

.main-no1{
    margin: 0;
    padding: 0;
}
.no1{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.no1-bar{
    justify-content: center;
    padding: 0px;
    margin: 0px;
}
.no1-bar-sose{
    margin: 0px;
    padding: 0px;
    /* 클릭버튼 색상 변경 */
    width: 110px;
    height: 90px;
    border-radius: 5px;
    background-color: white;
    
}
.no1-bar-sose-icon{
    margin: 0;
    padding: 10;
    justify-content: center;
}
.material-icons.md-48 { /* 구글 아이콘 크기 키움*/
    font-size: 48px; 
    padding: 11px 31px;
} 
.no1-bar-sose-text-on{
    text-align: center;
    font-size: 12px;
}






/* main 2번째 */
.main-no2{
    margin-top: 40;
    padding: 0;
} 
.main-no2s{
    position: relative;
    display: flex;
    align-items: center;
    width: 1000px;
    height: 300px;
    overflow: hidden;
    margin: 40px auto 0;

}

.prev, 
.next {
    position: absolute;    
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 25px;
    top: 130px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
.prev:hover,
.next:hover{
    background-color: beige;
}

.prev {
    left : 0px;
    padding-right: 5px;
}

.next {
    right: 0px;
    padding-left: 5px;
}


.no2{
    position: absolute;
    display: flex;
    width: 1000px;
    margin: 0;
    padding: 0;
}
.no2-button{
    display: flex;
}
.no2-img{
    width: 1000px;
    height: 300px;
    border: 10px;
    border-radius: 10px;   
}

@font-face {
    font-family: 'SejonghospitalBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.no2-text1{
    font-family: 'SejonghospitalBold';
    font-size: 30px;
    position: absolute;
    margin-top: 50px;
    margin-left: 10px;
    color:white;
}
.no2-text2{
    font-family: 'SejonghospitalBold';
    font-size: 20px;
    position: absolute;
    margin-top: 100px;
    margin-left: 10px;
    color:white;
}





/* 번외 */

.main-tag{
    justify-content: space-between;
    display: flex;
}
.main-text{
    font-size: 24px;
    font-family: 'SejonghospitalBold';
    color:black;
}
.main-tag{
    display: flex;
}
.main-point{
    display: flex;
    margin-left: 14px;
    padding: 0;
}
main a{
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: rgb(131, 131, 131);
}




.main-point1-button,
.main-point2,
.main-point1,
.main-point2-button{
    border: 1px solid rgb(131, 131, 131);
    background-color: white;
    height: 24px;
    width: 32px;
}
.main-point1-button,
.main-point1{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    color: rgb(131, 131, 131);
}
.main-point2-button,
.main-point2{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    color: rgb(131, 131, 131);
}


/* main-no3 */
.main-no3{
    margin-top: 40px;
    
    position: relative;
    display: flex;
    width: 1000px;
    padding: 0;
}
.main-no3s{
    position: relative;
    width: 100%;
}



.no3-hidden{
    display: flex;
    justify-items: space-between;
    
}
.no3-button{
    margin: 0;
    padding: 0px;
    display: flex;
}
.no3-hidden{
    display: flex;
    width: 100%;
    justify-content:space-between;
}
.no3-img{
    width: 320px;
    height: 200px;
    border-radius: 10px;
}
.no3-tag-text{
    margin: 5px 0px;
}





.main-text1{
    font-weight: bolder;
    position: relative;
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.main-text2{
    color:  rgb(131, 131, 131);
    font-size: 12px;
    position: relative;
    margin-top: 10px;
}
.no4-button{
    margin-right: 0px;
    height: 32px;
    width: 62px;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 8px;
    position: relative;
    top: 10px;
}

/* main-no4 */
main p{
    margin: 0;
    padding: 0;
}

.main-no4{
    margin-top: 40px;
}
.no4{
    margin: 0;
    padding: 10px 0px;
}
.no4-list{
    padding: 0;
    margin: 0 0 10px;
}
.no4-list1,.no4-list2,
.no4-list3,.no4-list4{
    display: inline-block;
    padding: 7px 0px;
    margin: 0px 14px;
    width: 30%;
    border-bottom: 1px solid gainsboro;
}
.no4-img-text{
    display: flex;
    justify-content: space-between;
}
.no4-img{
    height: 56px;
    width: 56px;
    border-radius: 10px;
    
}
.no4-text{
    margin-left: 8px;
    margin-right: auto;
}




/* main-no5 */
.main-banner1{
    display: flex;
    margin: 10px 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.main-banner2{
    display: flex;
    width: 100%;
    justify-content:space-between;
}
.main-banner3{
    display: flex;
    flex-direction: column;

}

/* 사진만 크기 확대 */
.main-banner3 .no5-img{
    transition: all 0.2s linear;
    height: 200px;
}
.main-banner3:hover .no5-img{
    transform: scale(1.1);

}


.no5-tag{
     display: flex;
     overflow: hidden;
} 
.main-no5{
    margin-top: 40px;
}
.no5-img-text{
    position: absolute;
    transform: translate(10%, 700%);
    color: white;
    font-weight: bolder; 
}
.no5-img{
    width: 320px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.no5-tag-b{
    border: 1px solid gainsboro;
    padding: 16px;
}

.no5-b-img{
    height: 32px;
    width: 32px;
    margin-right: 10px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}
.no5-number{
    position: relative;
    top: -10px;
    color :rgb(131, 131, 131);
    font-weight: bolder;
    font-size: 12px;
}








/* main-no6 */
.main-no6{
    margin-top: 40px;
}
.no6-tag{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    padding: 0px;  
}
.no6-tag img{
    transition: all 0.2s linear;
}
.no6-tag:hover img{
    transform: scale(1.1);
}
.no6-img{
    width: 220px;
    height: 180px;
    display: flex;
    overflow: hidden;
}
.no6-img-text{
    position: absolute;
    transform: translate(10%, 50%);
    color: white;
    font-weight:bolder;
    font-size: 14px;
}

/* .no5-img-text{
    position: absolute;
    transform: translate(10%, 700%);
    color: white;
    font-weight: bolder; 
} */
.no6-img-img{
    display: inline-flexbox;
    width: 220px;
    height: 180px;
    border-radius: 10px;
}
.no6-text1{
    margin-top: 10px;
    font-weight:bolder;
    font-size: 16px;
}
.no6-text2{
    margin-top: 10px;
    font-weight:bolder;
    font-size: 12px;
    color :rgb(131, 131, 131);
}


/* footer */
footer section{
    margin: 0px auto;
}
.footer-bar{
    margin: 0px;
}
.footer-bar1{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.log{
    object-fit: fill;
    width: 112px;
    height: 32px;
}
a{
    text-decoration-line: none; /* a태그 밑줄 제거 */
    color : black; /* a 태그  색상 검정*/
}
.footer-bar1-text{
    display: flex; /* 이쁘게 중앙정렬하기 위해 사용 */
}
.footer-bar1-text > a{
    display: inline-flex; /* 컨텐츠를 가운데로 보냄*/
    font-size: 16px;
    align-items: center;
    margin-left: 10px;
}
footer span{
    color: rgb(200, 200, 200);   
}

.footer-bar2{
    margin-top: 10px;
}
.before::before{ /* 특수문자 넣기(앞에)*/
    content: ' | ';
}
.bar-magin{
    margin-bottom: 5px;
}
.footer-bar3{
    margin: 20px 0px;
}
.footer-bar3 > a{
    flex-wrap: wrap;
    font-size: 14px;
    color: rgb(131, 131, 131); 
    margin: 0px 18px 0px 0px;
}
.footer-bar4{
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}
footer > .footer-bar4 >a{
    height: 50px;
}